<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main id="home">

        <div id="row-1" class="container">
            <div>
                <h1>Recruitment simplified</h1>
                <p>An All-In-One ATS for hiring managers and job seekers.</p>
            </div>
        </div>

        <div id="row-2" class="container">
            <h1 class="section-title">About</h1>
            <div class="hr"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, odit adipisci porro a fuga expedita. Consequatur, fuga dolore eaque assumenda debitis quo! A minima facere dolorum quidem quia quasi consequuntur facilis voluptatem, praesentium quibusdam delectus atque possimus odit dolore doloremque et quisquam vitae harum corrupti autem ratione magnam nostrum. Odit dolor quos consequuntur cupiditate blanditiis hic porro, modi, magnam, reiciendis minima repudiandae aut reprehenderit eos? Reprehenderit, pariatur! Ab explicabo dignissimos repudiandae laudantium. Qui architecto voluptatibus nam magnam quos aperiam ad est perspiciatis soluta, quisquam mollitia dolorum reiciendis. Placeat, cum corrupti!</p>
        </div>

    </main>


<%- include('partials/footer') %>